.wall
  %h2 Wall

  = render :partial => 'comments/form', :locals => {:comment => Comment.new(:owner => owner) }
  %br
  - for comment in comments
    .comment
      %div
        .face= widget_for comment.user
        .comment_body= h comment.body
        .date
          = comment.created_at.strftime "%D"
          = comment.created_at.strftime "%H:%M"
