%h1 Listing comments

= link_to_function 'New comment', :href => new_comment_path, :id => 'new_comment_link' do |page|
  - page[:create_comment].visual_effect :blind_down, :duration => 0.5
  - page[:new_comment_link].hide
  - page[:cancel_new_comment_link].visual_effect :appear

= link_to_function 'Cancel', :href => new_comment_path, :id => 'cancel_new_comment_link', :style => "display:none;" do |page|
  - page[:create_comment].visual_effect :blind_up, :duration => 0.5
  - page[:cancel_new_comment_link].hide
  - page[:new_comment_link].visual_effect :appear

#create_comment{:style => 'display:none;'}
  = render :partial => 'form', :locals => {:comment => Comment.new }

%table{:width => "100%"}
  %tr
    %th Owner
    %th Owner type
    %th Body
    %th Automatic
    %th User

  -for comment in @comments
    %tr
      %td= h comment.owner_id
      %td= h comment.owner_type
      %td= h comment.body
      %td= h comment.automatic
      %td= h comment.user_id

    
      %td= link_to 'Show', comment_path(comment)
      %td= link_to 'Edit', edit_comment_path(comment)
      %td= link_to 'Destroy', comment_path(comment), :method => :delete
