- show_project ||= false

%script{:type=>"text/javascript"} $(function() {$(".accordion").accordion()});

.accordion
  - tasks.each do |task|
    %h3{:style=>"font-size: 1.2em;"}
      %a{:style => task.style, :href=>"#"}=h task.name
    %div
      %div{:style=>"float:right; width:10%;"}
        = link_to 'show', project_task_path(task.project, task)
        - unless task.completed?
          %br
          = link_to 'edit', edit_project_task_path(task.project, task)
        %br
        - if task.completed?
          = link_to 'reopen', mark_open_task_path(task)
        - else
          = link_to 'mark completed', mark_completed_task_path(task)

      %div{:style=>"float:left; width:90%;"}

        .two_col{:style=>"padding-right:20px; width:20%;"}
          = collection_widget_for task.users, nil, 2

        .two_col{:style=>"width:70%;"}
          - if show_project
            .attribute
              .name Project:
              .value= link_to h(task.project.name), task.project

          .attribute
            .name Start date:
            .value= task.start_date
          .attribute
            .name Date due:
            .value= task.end_date
          .attribute
            .name Days remaining:
            .value= task.days_remaining

          - if task.description?
            .attribute
              .name Description:
              .value= task.description
