- show_project ||= false

%table.ui-widget-content.widget{:width => '100%'}
  - tasks.each do |task|
    %tr
      %td{:style => 'width: 2%;'}
        %div{:style => "height: 20px; width: 20px; background-color: ##{task.project.colour}"}

      %td{:style => 'width: 20%;' + task.style}= link_to task.name, project_task_path(task.project, task)

      %td{:style => 'width: 28%;text-align:middle;'}
        = task.end_date
        == (#{task.days_remaining})

      %td{:style => 'width: 30%; text-align:middle;'}
        = collection_widget_for task.users, :object => task, :hide => true

      %td{:style => 'width: 20%;text-align:right;'}
        - if task.completed?
          = link_to 'reopen', mark_open_task_path(task)
        - else
          = link_to 'mark completed', mark_completed_task_path(task)
