#task_list
  - exclude_completed ||= false
  - task_list, standby = partition_on_state(tasks, exclude_completed)
  
  - task_list.each do |type, list|
    - next if list.empty?
    %table{:class => "task_list", :cellspacing => 0, :cellpadding => 0, :width => "100%"}
      %tr
        %th{:colspan => 3, :class => "task_list_header header_#{type}"}
          = type.to_s.capitalize
      
      - list.each do |task|
        %tr{:class => "task_list_item #{type}", :id => "task_item_#{task.id}"}
          %td.task_list_priority{:style => "border-right: #{task.open? ? '1px solid #cccccc' : 'none' }"}
            - if task.open?
              %p{:style => "color:##{task.priority_colour};"}= task.priority
              %span{:style => "color:#000000;font-size: .8em"}= task.state.humanize
            
          %td.task_list_body{:id => "task_body_#{task.id}"}
            = render :partial => "tasks/show", :locals => {:task => task, :exclude_completed => exclude_completed, :tasks => tasks}

          %td{:style => "width:5%;"}
            .task_list_menu
              %div
                %div{:id => "edit_link_#{task.id}"}
                  = link_to_remote edit_task_icon, :url => {:controller => "tasks", :action => "edit", :id => task, :return_to => request.path}, :method => :get, :update => "task_body_#{task.id}", :complete => update_page {|page| page["edit_link_#{task.id}"].hide; page["cancel_edit_link_#{task.id}"].show}, :loading => flash_loader("task_body_#{task.id}")
                %div{:id => "cancel_edit_link_#{task.id}", :style => "display:none"}
                  = link_to_remote cancel_icon, :url => {:controller => "tasks", :action => "show", :id => task, :tasks => tasks.map(&:id), :exclude_completed => exclude_completed}, :method => :get, :update => "task_body_#{task.id}", :complete => update_page {|page| page["edit_link_#{task.id}"].show; page["cancel_edit_link_#{task.id}"].hide}, :loading => flash_loader("task_body_#{task.id}")
    %br

- content_for :right do
  - unless standby.empty?
    .right_title Standby Tasks
  
  
    %table{:width => "100%"}
      - standby.each do |task|
        %tr.story{:style => "font-size:0.8em;"}
          %td
            %span{:style =>"vertical-align: middle"}
              = image_tag "icons/clock.png", :style => "vertical-align: middle;", :width => 22
              = link_to task.name, project_task_path(task.project, task)
          %td
            - form_for task do |f|
              = hidden_field_tag "task[state]", "in progress"
              = hidden_field_tag "return_to", url_for(request.parameters)
              = f.submit 'reopen'
