= render :partial => 'projects/header', :locals => {:task => @task}


#task_show
  .attribute
    .name Start date:
    .value=h @task.start_date
  .attribute
    .name End date:
    .value=h @task.end_date
  .attribute
    .name Project:
    .value=h @task.project.name
  .attribute
    .name Completed:
    .value= @task.completed? ? "yes" : "no"

  - if @task.description
    .attribute
      .name Description:
      .value= @task.description

#update_task{:style => 'display:none;'}
  = render :partial => 'form', :locals => {:task => @task }

= link_to_function 'Edit', :href => edit_task_path(@task), :id => "edit_task_link" do |page|
  - page[:task_show].visual_effect :blind_up, :duration => 0.5
  - page[:update_task].visual_effect :blind_down, :duration => 0.5
  - page[:edit_task_link].hide
  - page[:cancel_edit_task_link].visual_effect :appear

= link_to_function 'Cancel', :href => edit_task_path(@task), :id => 'cancel_edit_task_link', :style => "display:none;" do |page|
  - page[:task_show].visual_effect :blind_down, :duration => 0.5
  - page[:update_task].visual_effect :blind_up, :duration => 0.5
  - page[:cancel_edit_task_link].hide
  - page[:edit_task_link].visual_effect :appear

%p= render :partial => 'comments/list', :locals => {:comments => @task.comments, :owner => @task}
