- content_for :title do
  = render :partial => 'projects/header', :locals => {:task => @task}


%div{:style => 'float:right:padding: 4px;'}
  = link_to_remote 'Edit', :url => edit_task_path(@task), :method => :get, :update => 'interactive_content', :complete => "$('#interactive_window').show()"
  |
  = link_to_remote 'Users', :url => {:controller => 'tasks', :action => 'users', :object_id => @task, :object_class => @task.class}, :complete => "$('#interactive_window').show()"
  |
  = link_to 'Destroy', task_path(@task), :method => :delete, :confirm => "Are you sure you want to delete task #{@task.name}"
.clear

#interactive_window.ui-widget-content.widget
  .close_interactive_window
    = link_to_remote image_tag('cross.png'), :url => {:controller => :tasks, :action => :close_interactive_window, :id => @task}
  #interactive_content

- content_for :right do
  = render(:partial => 'stories/list', :locals => {:stories => @task.stories.slice(1, 10), :mini => true, :object => @task}) unless @task.stories.empty?

#task_show
  .attribute
    .name Start date:
    .value=h @task.start_date
  .attribute
    .name End date:
    .value=h @task.end_date
  .attribute
    .name Project:
    .value=h @task.project.name
  .attribute
    .name State:
    .value=h @task.state.to_s.humanize
  .attribute
    .name Priority:
    .value=h @task.priority.to_s.humanize
  .attribute
    .name Completed:
    .value= @task.completed? ? "yes" : "no"
  .attribute
    .name Resources
    .value= @task.users.map{|user| link_to user.name, user }.join ', '
  
  - if @task.description
    .attribute
      .name Description:
      .value= @task.description


%p= render :partial => 'comments/list', :locals => {:comments => @task.comments, :owner => @task}
