%h1
  - if @client
    = link_to h(@client.name), @client
    >
  = link_to h(@project.name), @project, :style => @project.style
  >
  %span{:style => @task.style}
    =h @task.name


#task_show
  .two_col
    .attribute
      .name End date:
      .value=h @task.end_date
    .attribute
      .name Project:
      .value=h @task.project.name
    .attribute
      .name Completed:
      .value= @task.completed? ? "yes" : "no"

    - if @task.description
      .attribute
        .name Description:
        .value= @task.description

  .two_col
    %h3 Assigned to
    = collection_widget_for @task.users

  .clear

#update_task{:style => 'display:none;'}
  = render :partial => 'form', :locals => {:task => @task }

= link_to_function 'Edit', :href => edit_task_path(@task), :id => "edit_task_link" do |page|
  - page[:task_show].visual_effect :blind_up, :duration => 0.5
  - page[:update_task].visual_effect :blind_down, :duration => 0.5
  - page[:edit_task_link].hide
  - page[:cancel_edit_task_link].visual_effect :appear

= link_to_function 'Cancel', :href => edit_task_path(@task), :id => 'cancel_edit_task_link', :style => "display:none;" do |page|
  - page[:task_show].visual_effect :blind_down, :duration => 0.5
  - page[:update_task].visual_effect :blind_up, :duration => 0.5
  - page[:cancel_edit_task_link].hide
  - page[:edit_task_link].visual_effect :appear

|
- if @task.completed?
  = link_to 'reopen', mark_open_task_path(@task)
- else
  = link_to 'mark completed', mark_completed_task_path(@task)


%h2 Wall
= render :partial => 'comments/list', :locals => {:comments => @task.comments, :owner => @task}
