= javascript_tag '$(function() {$(".draggable").draggable({ revert: "invalid" });});'

- users ||= User.all

#drag_drop_users
  %h3
    %span{:style => "vertical-align: middle;"}
      = users_icon :style => "vertical-align: middle;"
      Users (Drag &amp; Drop)
  %table{:cellspacing => 0}
    - users.each do |user|
      %tr
        %td
          %span.draggable{:id => user.id}
            = image_tag 'drag.png', :style => "vertical-align: middle;"
            &nbsp;
            = image_tag user.face.url(:medium), :style => "vertical-align: middle;width:20px"
            = user.full_name
