- form_for user, :html => { :multipart => true } do |f|

  = error_messages_for :user
  .attribute
    .name= f.label :login, 'Name'
    .value= f.text_field :login
  .attribute
    .name= f.label :email
    .value= f.text_field :email
  .attribute
    .name Avatar
    .value= f.file_field :avatar

  = f.submit user.new_record? ? "Register" : "Save"
