.ui-widget-content.widget

  - form_for user, :html => { :multipart => true } do |f|

    = error_messages_for :user
    .attribute
      .name= f.label :login, 'Name'
      .value= f.text_field :login
    .attribute
      .name= f.label :email
      .value= f.text_field :email
    .attribute
      .name Avatar
      .value= f.file_field :avatar

    .attribute
      .name= f.label :password, user.new_record? ? nil : "Change password"
      .value= f.password_field :password
    .attribute
      .name= f.label :password_confirmation, "Confirm password"
      .value= f.password_field :password_confirmation
    = f.submit user.new_record? ? "Register" : "Save"
