%table{:width => "100%"}
  %th &nbsp;
  %th Open Projects
  %th Open Tasks
  %th Company
  
  - users.each do |user|
    %tr
      %td
        = image_tag user.face.url(:thumb), :width => "30px"
        = link_to user.full_name, user
      
      %td= user.projects.open.count
      
      %td= user.tasks_with_state(:open).size
      
      %td= link_to user.company.name, user.company
