- form_for user, :html => { :multipart => true } do |f|

  = error_messages_for :user
  .attribute
    .name= f.label :password
    .value= f.password_field :password
  .attribute
    .name= f.label :password_confirmation, "Confirm password"
    .value= f.password_field :password_confirmation

  = hidden_field_tag :show_pass, true

  = f.submit "Change"
