- content_for :title do
  All users

= link_to_function 'New user', :href => new_user_path, :id => 'new_user_link' do |page|
  - page[:create_user].visual_effect :blind_down, :duration => 0.5
  - page[:new_user_link].hide
  - page[:cancel_new_user_link].visual_effect :appear

= link_to_function 'Cancel', :href => nil, :id => 'cancel_new_user_link', :style => "display:none;" do |page|
  - page[:create_user].visual_effect :blind_up, :duration => 0.5
  - page[:cancel_new_user_link].hide
  - page[:new_user_link].visual_effect :appear

#create_user{:style => 'display:none;'}
  = render :partial => 'form', :locals => {:user => User.new }

%table
  %tr
    %th &nbsp;
    %th Projects
    %th Tasks


  - @users.each do |user|
    %tr
      %td
        = image_tag user.avatar.url(:thumb), :width => '40px', :style => "vertical-align:middle;"
        = link_to h(user.full_name), user
      %td= user.projects.count
      %td= user.tasks.count
