-content_for :title do
  Account

#menu
  = link_to_remote edit_user_icon, :url => edit_user_path(@user), :method => :get, :update => 'interactive_content', :loading => "$('#user_show').hide()", :complete => "$('#interactive_window').show()"
  = link_to_remote image_tag("icons/edit_password.png", :width => 30, :alt => "Edit Password", :title => "Edit Password"), :url => edit_user_path(@user, :password => true), :method => :get, :update => 'interactive_content', :loading => "$('#user_show').hide()", :complete => "$('#interactive_window').show()"
  - if admin?
    = link_to_remote 'Roles', :url => {:controller => :roles, :action => :user_roles, :id => @user}, :method => :get, :update => 'interactive_content', :complete => "$('#interactive_window').show()"

#interactive_window.ui-widget-content.widget
  .close_interactive_window
    = link_to_function cancel_icon do |page|
      - page[:interactive_window].visual_effect :fade, :duration => 0.5
      - page[:user_show].visual_effect :appear, :duration => 0.5
  #interactive_content


#user_show
  .two_col{:style => 'width: 300px;'}
    = image_tag @user.face.url, :width => '200px'
  .two_col
    .attribute
      .name Name
      .value= @user.name
    .attribute
      .name Email
      .value= @user.email
    .attribute
      .name Tasks
      .value= @user.tasks.count
    .attribute
      .name Events
      .value= @user.events.count
  .clear
