-form_for client do |f|
  = f.error_messages

  .attribute
    .name= f.label :company
    .value= f.collection_select :company_id, Company.all, :id, :name, :include_blank => 'None'

  .attribute
    .name= f.label :name
    .value= f.text_field :name

  .client_submit_button= f.submit "Save"
