-content_for :title do
  Clients

#menu
  = link_to_remote 'New', :url => new_client_path, :method => :get, :update => 'interactive_content', :complete => "$('#interactive_window').show()"

#interactive_window.ui-widget-content.widget
  .close_interactive_window
    = link_to_function image_tag('cross.png') do |page|
      - page[:interactive_window].fade
  #interactive_content

%table{:width => "100%"}
  %tr
    %th Client
    %th Number of Projects
    %th Brand

  -for client in @clients
    %tr
      %td= link_to h(client.name), client
      %td= client.projects.count
      %td= client.company.name if client.company

      %td= link_to 'Destroy', client_path(client), :method => :delete
