%h1=h @client.name

#update_client{:style => 'display:none;'}
  = render :partial => 'form', :locals => {:client => @client }

%p
  = link_to_function 'Edit', :href => edit_client_path(@client), :id => "edit_client_link" do |page|
    - page[:client_show].visual_effect :blind_up, :duration => 0.5
    - page[:update_client].visual_effect :blind_down, :duration => 0.5
    - page[:edit_client_link].hide
    - page[:cancel_edit_client_link].visual_effect :appear

  = link_to_function 'Cancel', :href => edit_client_path(@client), :id => 'cancel_edit_client_link', :style => "display:none;" do |page|
    - page[:client_show].visual_effect :blind_down, :duration => 0.5
    - page[:update_client].visual_effect :blind_up, :duration => 0.5
    - page[:cancel_edit_client_link].hide
    - page[:edit_client_link].visual_effect :appear

  |

  = link_to_function 'New Project', :href => new_client_project_path(@client), :id => "new_project_link" do |page|
    - page[:new_project].visual_effect :blind_down, :duration => 0.5
    - page[:new_project_link].hide
    - page[:cancel_new_project_link].visual_effect :appear

  = link_to_function 'Cancel', :href => new_client_project_path(@client), :id => 'cancel_new_project_link', :style => "display:none;" do |page|
    - page[:new_project].visual_effect :blind_up, :duration => 0.5
    - page[:cancel_new_project_link].hide
    - page[:new_project_link].visual_effect :appear


#new_project{:style => 'display:none;'}
  = render :partial => 'projects/form', :locals => {:project => Project.new(:client=>@client) }

= render :partial => 'projects/list', :locals => {:projects => @client.projects}
