- content_for :title do
  =h @client.name

#menu
  = link_to_remote 'New Project', :url => new_project_path(:client_id => @client), :update => 'interactive_content', :loading => "$('#interactive_window').show(); #{flash_loader(:interactive_content)}"
  |
  = link_to_remote 'Edit', :url => edit_client_path(@client), :method => :get, :update => 'interactive_content', :loading => "$('#interactive_window').show(); #{flash_loader(:interactive_content)}"
  |
  = link_to 'Destroy', client_path(@client), :method => :delete, :confirm => "Are you sure you want to delete task #{@client.name}"



#interactive_window.ui-widget-content.widget
  .close_interactive_window
    = link_to_function image_tag('cross.png') do |page|
      - page[:interactive_window].visual_effect :fade, :duration => 0.2
  #interactive_content



- completed, in_progress = @client.projects.partition{|project| project.closed?}

- unless in_progress.empty?
  %h3 In progress
  = render :partial => 'projects/list', :locals => {:projects => in_progress}

%p= render :partial => "calendars/tabs", :locals => {:object => @client}

- unless completed.empty?
  %h3 Completed
  = render :partial => 'projects/list', :locals => {:projects => completed}
