#users
  %script{:type=>"text/javascript"}
    $(function() {
    $(".draggable").draggable({ revert: 'invalid' });
    = "$(\".droppable_users\").droppable({activeClass: 'ui-state-hover',hoverClass: 'ui-state-active',drop: function(event, ui) {addUser(ui.draggable.attr('id'), '#{object.id}');}});"

    function addUser(id, object) {$.ajax({data:'user=' + id + '&id=' + object, dataType:'script', type:'post', url:"/events/add_user" }); return false;}
    });


  - people = object.users
  .attribute
    .name Users
    .value
      %div{:class => "droppable_users", :style => 'min-height: 20px; width: 200px;'}
        - unless people.empty?
          - people.each do |person|
            %span.draggable
              = link_to_remote image_tag('cross.png', :width => 10), :url => {:controller => 'tasks', :action => 'remove_user', :id => object, :type => type, :user => person}, :update => 'users'
              = image_tag person.face.url(:thumb), :style => "vertical-align: middle;width:30px"
              = person.name
              %br
