%h1
  - if @client
    = link_to h(@client.name), @client
    >
  = link_to h(@project.name), @project, :style => @project.style
  >
  =h @event.name


#event_show
  .two_col
    .attribute
      .name Date:
      .value=h @event.date
    .attribute
      .name Time:
      .value=h @event.time
    .attribute
      .name Project:
      .value=h @event.project.name

    - if @event.description
      .attribute
        .name Description:
        .value= @event.description

  .two_col
    %h3 Assigned to
    = collection_widget_for @event.users

  .clear

#update_event{:style => 'display:none;'}
  = render :partial => 'form', :locals => {:event => @event }

= link_to_function 'Edit', :href => edit_event_path(@event), :id => "edit_event_link" do |page|
  - page[:event_show].visual_effect :blind_up, :duration => 0.5
  - page[:update_event].visual_effect :blind_down, :duration => 0.5
  - page[:edit_event_link].hide
  - page[:cancel_edit_event_link].visual_effect :appear

= link_to_function 'Cancel', :href => edit_event_path(@event), :id => 'cancel_edit_event_link', :style => "display:none;" do |page|
  - page[:event_show].visual_effect :blind_down, :duration => 0.5
  - page[:update_event].visual_effect :blind_up, :duration => 0.5
  - page[:cancel_edit_event_link].hide
  - page[:edit_event_link].visual_effect :appear

%p= render :partial => 'comments/list', :locals => {:comments => @event.comments, :owner => @event}
