- content_for :title do
  = render :partial => 'projects/header', :locals => {:task => @event}

#menu
  = link_to_remote 'Edit', :url => edit_event_path(@event), :method => :get, :update => 'interactive_content', :complete => "$('#interactive_window').show()"
  |
  = link_to_remote 'Users', :url => {:controller => 'events', :action => 'users', :object_id => @event, :object_class => @event.class}, :complete => "$('#interactive_window').show()"
  |
  = link_to 'Destroy', task_path(@event), :method => :delete, :confirm => "Are you sure you want to delete task #{@event.name}"


#interactive_window.ui-widget-content.widget
  .close_interactive_window
    = link_to_remote image_tag('cross.png'), :url => {:controller => :events, :action => :close_interactive_window, :id => @event}
  #interactive_content

- content_for :right do
  = render(:partial => 'stories/list', :locals => {:stories => @event.stories.all(:limit => 10), :mini => true, :object => @event}) unless @event.stories.empty?

#event_show
  .attribute
    .name Date:
    .value=h @event.date
  .attribute
    .name Time:
    .value=h @event.time
  .attribute
    .name Project:
    .value=h @event.project.name
  .attribute
    .name Resources
    .value= @event.users.map{|user| link_to user.name, user }.join ', '
  
  
  - if @event.description
    .attribute
      .name Description:
      .value= @event.description

%p= render :partial => 'comments/list', :locals => {:comments => @event.comments, :owner => @event}
