- content_for :title do
  = render :partial => 'projects/header', :locals => {:task => @event}

%div{:style => 'float:right'}
  = link_to_remote 'Edit', :url => edit_event_path(@event), :method => :get, :update => 'interactive_content', :complete => "$('#interactive_window').show()"
  |
  = link_to_remote 'Users', :url => {:controller => 'users', :action => 'manage', :object_id => @event, :object_class => @event.class}, :update => 'interactive_content', :complete => "$('#interactive_window').show()"

= collection_widget_for @event.users

.clear

#interactive_window.ui-widget-content.widget
  .close_interactive_window
    = link_to_function 'x' do |page|
      - page[:interactive_window].visual_effect :fade, :duration => 0.5
  #interactive_content

- content_for :right do
  = render(:partial => 'stories/mini_list', :locals => {:stories => @event.stories}) unless @event.stories.empty?

#event_show
  .attribute
    .name Date:
    .value=h @event.date
  .attribute
    .name Time:
    .value=h @event.time
  .attribute
    .name Project:
    .value=h @event.project.name

  - if @event.description
    .attribute
      .name Description:
      .value= @event.description

%p= render :partial => 'comments/list', :locals => {:comments => @event.comments, :owner => @event}
