%script{:type => "text/javascript"}
  //<![CDATA[
  $(function() {$("#project_end_date").datepicker({minDate: 0, numberOfMonths: 2, showButtonPanel: true, showOn: 'button', buttonImage: '/images/jquery/calendar.gif', buttonImageOnly: true});});

  $('#colorpicker').ColorPicker({
  color: '#0000ff',
  onShow: function (colpkr) {$(colpkr).fadeIn(500);return false;},
  onHide: function (colpkr) {$(colpkr).fadeOut(500);return false;},
  onChange: function (hsb, hex, rgb) {
  $('#colorpicker').css('backgroundColor', '#' + hex);
  $('#project_colour').css('color', '#' + hex);
  $('#project_colour').val(hex);
  }
  });
  //]]>

-form_for project do |f|
  = f.error_messages

  .attribute
    .name= f.label :client
    .value= f.collection_select :client_id, Client.all, :id, :name, {:include_blank => "None"}

  .attribute
    .name= f.label :name
    .value= f.text_field :name
  .attribute
    .name= f.label :state
    .value= f.text_field :state
  .attribute
    .name= f.label :end_date
    .value= f.text_field :end_date
  .attribute
    .name= f.label :priority
    .value= f.select :priority, Project::PRIORITIES
  .attribute
    .name= f.label :account
    .value= f.text_field :account

  .attribute
    .name= f.label :description
    .middle.value= f.text_area :description, :rows => 8, :cols => 35

  .attribute
    .name= f.label :colour
    .value
      = f.text_field :colour
      = image_tag 'colorpicker/select.png', :width => '15x', :id => 'colorpicker'


  .project_submit_button= f.submit "Save"

.clear
