- task ||= nil
- project = task.project if task

%script{:type=>"text/javascript"}== $(function() {$("#progressbar").progressbar({value: #{@project.percentage_complete}});});

%table{:width => '100%'}
  %tr
    %td{:width => '100px'}
      = collection_widget_for project.users, :object => project

    %td{:width => '300px'}
      #progressbar{:style => 'height:20px; positions:relative;'}
        %div{:style => 'position: absolute; padding-left: 10px;padding-top: 2px;'}
          = project.tasks.completed.count
          \/
          = project.tasks.count

        %div{:style => 'position: absolute; padding-left: 120px;padding-top: 2px;'}
          %b
            = project.percentage_complete
            \%

        %div{:style => 'position: absolute; padding-left: 200px;padding-top: 2px;'}
          = project.end_date
          == (#{project.days_remaining})

    %td{:style => 'padding-left: 10px;'}
      %h1{:style => "color:##{project.colour}"}
        - if project.client
          = link_to h(project.client.name), project.client
          >

        - if task
          =link_to project.name, project
          >
          %span{:style => task.style}=h task.name
        - else
          %span{:style => project.style}=h project.name
