%table{:cellspacing => 0, :style => 'width:100%;'}
  - projects.each do |project|
    %tr
      %td.project_row{:style => 'width: 2%;'}
        %div{:style => "height: 20px; width: 20px; background-color: ##{project.colour}"}

      %td.project_row{:style => project.style + 'width: 25%;'}
        = link_to project.full_name, project

      %td.project_row{:style => 'width: 73%;'}
        %script{:type=>"text/javascript"}== $(function() {$("#progressbar#{project.id}").progressbar({value: #{project.percentage_complete}});});

        .progressbar{:id=>"progressbar#{project.id}", :style => 'positions:relative;'}
          %div{:style => 'position: absolute; padding-left: 10px;padding-top: 5px;'}
            = project.tasks.completed.count
            \/
            = project.tasks.count

          %div{:style => 'position: absolute; padding-left: 120px;padding-top: 5px;'}
            %b
              = project.percentage_complete
              \%

          %div{:style => 'position: absolute; padding-left: 190px;padding-top: 5px;'}
            = project.end_date
            == (#{project.days_remaining})

          %div{:style => 'position: absolute; padding-left: 330px;padding-top: 5px;'}
            = link_to 'new event', new_project_event_path(project)
            |
            = link_to 'new task', new_project_task_path(project)
            |
            - if project.closed?
              = link_to 'reopen', reopen_project_path(project)
            - else
              = link_to 'close', close_project_path(project)
