%script{:type=>"text/javascript"} $(function() {$("#accordion").accordion()});

#accordion
  - projects.each do |project|
    %h3{:style=>"font-size: 1.2em;"}
      %a{:href=>"#"}=h project.name
    %div
      %div{:style=>"float:left;"}
        - unless @client
          .attribute
            .name Client:
            .value= project.client ? project.client.name : "none"

        .attribute
          .name Date due:
          .value= project.end_date
        .attribute
          .name Days remaining:
          .value= project.days_remaining
        .attribute
          .name= link_to 'Tasks remaining:', project_tasks_path(project)
          .value= project.tasks_remaining
        -if project.description
          .attribute
            .name Description:
            .value= project.description

      %div{:style=>"float:right;"}= link_to 'show', project
