- content_for :title do
  - if @user
    Projects for
    = link_to @user.login, account_path
  - else
    All Projects

%div{:style => 'float:right'}
  = link_to_remote 'New', :url => new_project_path, :update => 'interactive_content', :complete => "$('#interactive_window').show()"

#interactive_window.ui-widget-content.widget
  .close_interactive_window
    = link_to_function 'x' do |page|
      - page[:interactive_window].visual_effect :fade, :duration => 0.5
  #interactive_content

- completed, in_progress = @projects.partition{|project| project.closed?}

- unless in_progress.empty?
  %h3 In progress
  = render :partial => 'list', :locals => {:projects => in_progress}

- unless completed.empty?
  %h3 Completed
  = render :partial => 'list', :locals => {:projects => completed}
