- content_for :title do
  - if @user
    Projects for
    = link_to @user.login, account_path
  - else
    All Projects

#menu
  = link_to_remote new_project_icon, :url => new_project_path, :update => 'interactive_content', :complete => "$('#interactive_window').show()"
  
  
  
  
#interactive_window.ui-widget-content.widget
  .close_interactive_window
    = link_to_function image_tag("cross.png") do |page|
      - page[:interactive_window].visual_effect :fade, :duration => 0.5
  #interactive_content

#projects= render :partial => "list_complete", :locals => {:projects => @projects}

- content_for :right do
  = render :partial => "global/search", :locals => {:klass => :project}
  = link_to image_tag("icons/download.png", :width => 30, :alt => "Download All", :title => "Download All"), :controller => "projects", :action => "download"