%script{:type=>"text/javascript"}
  == $(function() {$("#progressbar").progressbar({value: #{@project.percentage_complete}});});

%h1
  - if @client
    = link_to h(@client.name), @client
    >
  %span{:style => @project.style}
    =h @project.name

#project_show
  .two_col
    - unless @project.tasks.empty?
      %script{:type=>"text/javascript"}== $(function() {$("#progressbar").progressbar({value: #{@project.percentage_complete}});});

      #progressbar{:style => 'width:400px;'}

      .attribute
        .name Percentage:
        .value
          = @project.percentage_complete
          \%

    .attribute
      .name Tasks:
      .value
        = @project.tasks.completed.count
        \/
        = @project.tasks.count

    - unless @client
      - if @project.client
        .attribute
          .name Client:
          .value= @project.client.name
    .attribute
      .name Colour:
      .value
        %div{:style => "width:50px;height:10px;background-color:##{@project.colour};"}
    .attribute
      .name Date due:
      .value= @project.end_date
    .attribute
      .name Days remaining:
      .value= @project.days_remaining

    - if @project.description?
      .attribute
        .name Description:
        .value= @project.description


  .two_col
    %h3 Project Managers
    = collection_widget_for @project.users


  .clear


#update_project{:style => 'display:none;'}
  = render :partial => 'form', :locals => {:project => @project }

%p
  = link_to_function 'Edit', :href => edit_project_path(@project), :id => "edit_project_link" do |page|
    - page[:project_show].visual_effect :blind_up, :duration => 0.5
    - page[:update_project].visual_effect :blind_down, :duration => 0.5
    - page[:edit_project_link].hide
    - page[:cancel_edit_project_link].visual_effect :appear

  = link_to_function 'Cancel', :href => nil, :id => 'cancel_edit_project_link', :style => "display:none;" do |page|
    - page[:project_show].visual_effect :blind_down, :duration => 0.5
    - page[:update_project].visual_effect :blind_up, :duration => 0.5
    - page[:cancel_edit_project_link].hide
    - page[:edit_project_link].visual_effect :appear
  |
  = link_to 'Destroy', @project, :method => :delete, :confirm => "Are you sure?"
  |
  - if @project.closed?
    = link_to 'Reopen', reopen_project_path(@project)
  - else
    = link_to 'Close', close_project_path(@project)

%br

%h2
  Tasks
  \-
  = link_to_function 'new', :href => new_project_task_path(@project), :id => "new_task_link" do |page|
    - page[:new_task].visual_effect :blind_down, :duration => 0.5
    - page[:new_task_link].hide
    - page[:cancel_new_task_link].visual_effect :appear

  = link_to_function 'Cancel', :href => nil, :id => 'cancel_new_task_link', :style => "display:none;" do |page|
    - page[:new_task].visual_effect :blind_up, :duration => 0.5
    - page[:cancel_new_task_link].hide
    - page[:new_task_link].visual_effect :appear

#new_task{:style => 'display:none;'}
  = render :partial => 'tasks/form', :locals => {:task => Task.new(:project => @project) }

- completed, in_progress = @project.tasks.partition{|task| task.completed?}

.two_col{:style => 'width: 60%; padding-right: 4%;'}
  - unless in_progress.empty?
    %h3 In progress
    = render :partial => 'tasks/list', :locals => {:tasks => in_progress}

.two_col{:style => 'width: 36%;'}
  - unless completed.empty?
    %h3 Completed
    = render :partial => 'tasks/list', :locals => {:tasks => completed}
.clear
%br


%h2
  Events
  \-
  = link_to_function 'new', :href => new_project_event_path(@project), :id => "new_event_link" do |page|
    - page[:new_event].visual_effect :blind_down, :duration => 0.5
    - page[:new_event_link].hide
    - page[:cancel_new_event_link].visual_effect :appear

  = link_to_function 'Cancel', :href => nil, :id => 'cancel_new_event_link', :style => "display:none;" do |page|
    - page[:new_event].visual_effect :blind_up, :duration => 0.5
    - page[:cancel_new_event_link].hide
    - page[:new_event_link].visual_effect :appear

#new_event{:style => 'display:none;'}
  = render :partial => 'events/form', :locals => {:event => Event.new(:project => @project) }

- unless @project.events.empty?
  = render :partial => 'events/list', :locals => {:events => @project.events}
