- content_for :title do
  = render :partial => 'header', :locals => {:project => @project}

%div{:style => 'float:right;'}
  - if @project.description?
    = link_to_function 'Description', :href => nil, :id => 'show_description_link' do |page|
      - page[:description].visual_effect :blind_down, :duration => 0.5
      - page[:show_description_link].hide
      - page[:hide_description_link].visual_effect :appear

    = link_to_function 'Hide', :href => nil, :id => 'hide_description_link', :style => "display:none;" do |page|
      - page[:description].visual_effect :blind_up, :duration => 0.5
      - page[:hide_description_link].hide
      - page[:show_description_link].visual_effect :appear
    |
  = link_to_remote 'Edit', :url => edit_project_path(@project), :method => :get, :update => 'interactive_content', :complete => "$('#interactive_window').show()"
  |
  = link_to 'Destroy', project_path(@project), :method => :delete, :confirm => "Are you sure?"
  |
  = link_to_remote 'New task', :url => new_task_path(:project_id => @project), :update => 'interactive_content', :complete => "$('#interactive_window').show()"
  |
  = link_to_remote 'New event', :url => new_event_path(:project_id => @project), :update => 'interactive_content', :complete => "$('#interactive_window').show()"
  |
  = link_to_remote 'Users', :url => {:controller => 'projects', :action => 'users', :object_id => @project, :object_class => @project.class}, :complete => "$('#interactive_window').show()"
  |
  - if @project.closed?
    = link_to 'Reopen', reopen_project_path(@project)
  - else
    = link_to 'Close', close_project_path(@project)

.clear

#interactive_window.ui-widget-content.widget
  .close_interactive_window
    = link_to_remote 'x', :url => {:controller => :projects, :action => :close_interactive_window, :id => @project}
  #interactive_content

#description{:style => "display:none;"}= @project.description



%p= render :partial => 'tasks/list', :locals => {:tasks => @project.tasks}

- content_for(:right) do  
  = render :partial => 'events/list_full', :locals => {:events => @project.events.in_future} unless @project.events.in_future.empty?  
  = render :partial => 'stories/mini_list', :locals => {:stories => @project.stories} unless @project.stories.empty?



%p= render :partial => 'calendars/tabs', :locals => {:object => @project}
