- content_for :title do
  = render :partial => 'header', :locals => {:project => @project}

#menu
  - if @project.description?
    = link_to_function 'Description', :href => nil, :id => 'show_description_link' do |page|
      - page[:description].visual_effect :blind_down, :duration => 0.5
      - page[:show_description_link].hide
      - page[:hide_description_link].visual_effect :appear

    = link_to_function 'Hide', :href => nil, :id => 'hide_description_link', :style => "display:none;" do |page|
      - page[:description].visual_effect :blind_up, :duration => 0.5
      - page[:hide_description_link].hide
      - page[:show_description_link].visual_effect :appear
      
  = link_to_remote users_icon, :url => {:controller => 'projects', :action => 'users', :object_id => @project, :object_class => @project.class}, :loading => "$('#interactive_window').show(); #{flash_loader(:interactive_content)}"
  = link_to_remote new_task_icon, :url => new_task_path(:project_id => @project), :update => 'interactive_content', :loading => "$('#interactive_window').show(); #{flash_loader(:interactive_content)}"
  = link_to_remote new_event_icon, :url => new_event_path(:project_id => @project), :update => 'interactive_content', :loading => "$('#interactive_window').show(); #{flash_loader(:interactive_content)}"
  = link_to_remote edit_project_icon, :url => edit_project_path(@project), :method => :get, :update => 'interactive_content', :loading => "$('#interactive_window').show(); #{flash_loader(:interactive_content)}"
  = link_to destroy_project_icon, project_path(@project), :method => :delete, :confirm => "Deleting project #{@project.name} is irreversible. Are you sure?"
  
  - if @project.closed?
    = link_to open_icon, reopen_project_path(@project)
  - else
    = link_to close_icon, close_project_path(@project)

#interactive_window.ui-widget-content.widget
  .close_interactive_window
    = link_to_remote image_tag("cross.png"), :url => {:controller => :projects, :action => :close_interactive_window, :id => @project}, :loading => flash_loader(:right)
  #interactive_content

#description{:style => "display:none;"}= @project.description

- content_for(:right) do  
  = render :partial => 'events/list', :locals => {:events => @project.events.in_future} unless @project.events.in_future.empty?  
  = render :partial => 'stories/list', :locals => {:stories => @project.all_stories.slice(0,10), :mini => true, :object => @project} unless @project.all_stories.empty?


.clear
- if @project.tasks.empty?
  %p This project has no tasks, you want to create one?
  = render :partial => "tasks/form", :locals => {:task => Task.new(:project => @project)}
- else
  = render :partial => 'calendars/tabs', :locals => {:object => @project}
