%table
  - if @project.client
    %tr
      %td Client
      %td= @project.client.name
  %tr
    %td Name
    %td= @project.name
  
  - if @project.end_date
    %tr
      %td Date Due
      %td= @project.end_date.to_s
  
  - if @project.description?
    %tr
      %td Description
      %td= @project.description

%br
== click #{link_to "here", project_url(@project, :host => "152.146.39.15:4001")} for full information


