- some_day ||= Date.today
- month = get_month(some_day)

%h2= Date.today.inspect

#calendar{:style => 'position:relative;'}
  #task.ui-widget-content.widget{:style => 'display: none;'}

  %table{:width => "100%"}
    %tr{:style => "text-align:center;"}
      %th{:style => "text-align:center;"} Sun
      %th{:style => "text-align:center;"} Mon
      %th{:style => "text-align:center;"} Tue
      %th{:style => "text-align:center;"} Wed
      %th{:style => "text-align:center;"} Thu
      %th{:style => "text-align:center;"} Fri
      %th{:style => "text-align:center;"} Sat

    - for week in month
      %tr
        - for day in week
          %td{:class => Date.today == day ? 'today' : 'normal_day'}
            - if day
              = day.day
              %br

              - tasks_for_day = tasks.select{|task| task.happens_in day }
              - tasks_for_day.each do |task|
                = link_to_remote "#{task.project.name} - #{task.name}", :update => "task", :url => { :controller => 'calendars', :action => "task_details", :id => task}, :complete => "$('#task').show()"
                %br

            - else
              &nbsp;
