#calendar{:style => 'position:relative;'}

  - some_day ||= Date.today
  - month = get_month(some_day)
  - events = object.events
  - tasks = object.tasks

  %h2
    = link_to_remote "<<", :url => { :controller => 'calendars', :action => "previous_month", :current_day => some_day, :object_id => object.id, :object_type => object.class }, :update => 'calendar'
    &nbsp;
    = link_to_remote ">>", :url => { :controller => 'calendars', :action => "next_month", :current_day => some_day, :object_id => object.id, :object_type => object.class }, :update => 'calendar'
    &nbsp;
    - if some_day.month == Date.today.month
      = some_day.inspect
    - else
      = Date::MONTHNAMES[some_day.month]
      = some_day.year

  #event.ui-widget-content.widget{:style => 'display: none;'}
  #task.ui-widget-content.widget{:style => 'display: none;'}

  %table{:width => "100%"}
    %tr{:style => "text-align:center;"}
      %th{:style => "text-align:center;"} Mon
      %th{:style => "text-align:center;"} Tue
      %th{:style => "text-align:center;"} Wed
      %th{:style => "text-align:center;"} Thu
      %th{:style => "text-align:center;"} Fri

    - for week in month
      %tr
        - for day in week
          - next if day.wday.eql?(0) or day.wday.eql?(6)

          %td{:class => Date.today == day ? 'today' : 'normal_day'}
            %div{:style => day.month == some_day.month ? 'font-weight:bold;color:#666;' : 'color:#999;' }
              = link_to day.day, day_calendar_path(:date => day)

            - events_for_day = events.select {|event| event.happens_in day }
            - tasks_for_day = tasks.select {|task| task.happens_in day }

            - events_for_day.each do |event|
              %span{:style => "display:inline;"}
                = image_tag 'pin.png'
                = event.time
                = link_to_remote "#{event.name}", {:update => "event", :url => { :controller => 'calendars', :action => "event_details", :id => event}, :complete => "$('#event').show()"}, :style => "color: ##{event.project.colour};"
              %br

            - tasks_for_day.each do |task|
              = link_to_remote "#{task.name}", {:update => "task", :url => { :controller => 'calendars', :action => "task_details", :id => task}, :complete => "$('#task').show()"}, :style => "color: ##{task.project.colour};"
              %br
