- object ||= @current_user
- params = {:object => {:id => object.id, :type => object.class}}

#tab_nav.ui-widget-header.ui-corner-all
  = link_to_remote 'Timeline', :url => timeline_calendar_path, :update => 'calendar', :complete => 'onLoad()'
  = link_to_remote 'Month', :url => month_calendar_path(params), :update => 'calendar'
  = link_to_remote 'Day', :url => day_calendar_path(params), :update => 'calendar'
  = link_to_remote 'Week', :url => week_calendar_path(params), :update => 'calendar'

  .clear

#event.draggable.ui-widget-content.widget{:style => 'display: none;z-index: 99999;'}
#task.draggable.ui-widget-content.widget{:style => 'display: none;z-index: 99999;'}

#calendar
  = render :partial => 'calendars/timeline', :locals => {:object => object}
