.draggable
  - project = @task.project

  #task_body
    #controls
      = link_to_function 'X' do |page|
        - page[:task].hide
    .clear


    %h3
      - if client = project.client
        == (#{link_to client.name, client})
      = link_to project.name, project
      \-
      = link_to task.name, task



    .attribute
      .name Start
      .value= task.start_date

    .attribute
      .name End
      .value= task.end_date

    - if task.description?
      .attribute
        .name Description
        .value= task.description
    
    - Task::PEOPLE.each do |type|
      - people = task.send(type)
      - next if people.empty?
      
      .attribute
        .name= type.to_s.humanize.capitalize
        .value= people.map{|u| link_to u.full_name, u}.join ", "