- stories = stories.group_by {|story| story.created_at.to_date }

.right_title News

.right_body
  .story_list.widget
    - stories.each do |date, stories|
      %div{:class => "event_list_header header_completed"}= date.to_s(:long)

      - stories.each do |story|
        .mini_story.story
          .story_data= widget_for story.creator, 20

          .story_body
            = story.parent_type.downcase
            = link_to story.parent.name, story.parent
            = story.body.gsub("#{current_user.name} has", "You have").gsub("true", "yes").gsub("false", "no")

          .clear
