- content_for :title do
  Dashboard

- if @user.tasks.empty?
  You have no tasks assigned to you.
  %ul
    %li Go see your boss now!
    %li= link_to 'Create a new project', new_project_path
    %li= link_to 'See all projects', projects_path

- else
  - content_for(:right) do
    - unless @user.events.in_future.empty?
      %h3 Events
      = render :partial => 'events/list_full', :locals => {:events => @user.events.in_future}

    = render :partial => 'task_list_complete', :locals => {:tasks => @user.tasks.completed}


  %p= render :partial => 'task_list', :locals => {:tasks => @user.tasks}

  %p= render :partial => 'calendars/tabs'
