.users_stories_form
  -form_for users_stories do |f|
    = f.error_messages
    
    .attribute
      .name= f.label :user_id
      .value= f.text_field :user_id 
    .attribute
      .name= f.label :story_id
      .value= f.text_field :story_id 
    .attribute
      .name= f.label :seen
      .value= f.check_box :seen 
    
    .users_stories_submit_button= f.submit "Save"
