!!!
%html
  %head
    %title
      Progress
      - if logged_in?
        == - #{current_user.name}

    = stylesheet_link_tag 'jquery_grey', 'main', 'colorpicker'

    = javascript_include_tag :defaults
    = javascript_include_tag 'colorpicker'
    = javascript_include_tag "http://static.simile.mit.edu/timeline/api-2.3.0/timeline-api.js?bundle=true" if @show_timeline
    = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?
    = javascript_tag '$(".draggable").draggable({ revert: \'invalid\' });'

  %body
    #header
      #logo= image_tag 'logo.png'
      #title= yield(:title)
      - if logged_in?
        %div{:class=>"corner userbox"}
          .box
            .avatar= image_tag current_user.avatar.url(:medium)
            .top
              .name= link_to current_user.name, current_user
              .links
                = link_to 'Logout', logout_url
                |
                = link_to 'Profile', profile_url
                |
                = link_to_unless_current 'Dashboard', dashboard_url

            .bottom
              .select
                .site_links
                  = link_to_unless_current 'Users', users_url
                  |
                  = link_to_unless_current 'Clients', clients_url
                  |
                  = link_to_unless_current 'Projects', projects_url
                  - if admin?
                    %br
                    = link_to_unless_current 'Roles', roles_url

              .inbox
                %span
                  - count = current_user.users_stories.count :conditions => {:seen => false}
                  = link_to "#{image_tag('message.png')} #{count}", stories_path

    #flash
      - if notice = flash[:notice]
        .ui-state-highlight.widget
          .close_interactive_window
            = link_to_function 'x' do |page|
              - page[:flash].visual_effect :fade, :duration => 0.5
          %p
            %span{:class => "ui-icon ui-icon-info", :style => "float: left; margin-right: 0.3em;"}
            = notice

      - if error = flash[:error]
        .ui-state-error.widget
          .close_interactive_window
            = link_to_function 'x' do |page|
              - page[:flash].visual_effect :fade, :duration => 0.5
          %p
            %span{:class => "ui-icon ui-icon-alert", :style => "float: left; margin-right: 0.3em;"}
            = error


    #content
      #center= yield
      #right= yield(:right)
      .clear
